body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#kader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    margin-top: 60px;
}

.tekstBijFoto {
    display: flex;
    gap: 20px;
    width: 100%;

}

#plaatje img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.text-content {
    flex: 1;
    text-align: justify;
}

.text-content2 {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.text-content2 h1 {
    margin-top: 0;
    font-size: 1.5em;
}

.text-content2 p {
    text-align: left;
}
