@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, rgb(7, 66, 114), rgb(14, 101, 141));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-right: 40px;
    margin-top: 20px;
}

.navbar .nav-links li {
    margin-left: 30px;
    position: relative;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
    transition: color 0.3s ease;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.text-content {
    text-align: left;
}

.intro {
    font-size: 2.3em;
    margin: 0;
    font-weight:  550;
}

.description {
    font-size: 0.9em;
    color: #ccc;
    max-width: 700px;
    margin: 20px 0;
}

.description2 {
    font-size: 0.9em;
    color: #ccc;
    max-width: 700px;
    margin: 20px 0;
    text-align: right;
    margin-left: 200px;
}

table {
    width: 25%;
    border-collapse: collapse;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    margin-top: 10px;
    font-size: 0.9em;
    color: #ffffff;
    margin-left: 50px;

}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.95em;
}

.container {
    position: relative;
}

.chapter-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    text-decoration: none;
    z-index: 1;
}

.chapter-button:hover {
    opacity: 1;
}

.chapter-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.chapter-hover-text {
    display: none;
    color: #333; /* Text color */
    font-weight: bold;
}

.chapter-button:hover .chapter-hover-text {
    display: inline;
    position: absolute;
    left: 25px; /* Adjust positioning to appear behind the icon */
    bottom: -30px; /* Adjust the distance to appear where desired */
}

